/*-- scss:defaults --*/

/*-- scss:rules --*/

.navbar .dropdown-menu a:hover {
  background-color: #158cba !important; 
  color: #ffffff !important;
}

.navbar .dropdown-menu a {
  color: #000000 !important;
}

.navbar .dropdown-menu {
    background-color: #ffffff !important; 
}
